$white: #ffffff;
$gray: #f2f2f2;
$dark-gray: #cecfd4;
$black: #000000;
$light-gray: #f5f5f5;
$light-black: #1d1d1d;
$lighter-black: #363636;
$light-pang: #9cecec;
$light-red: #ff8989;
$light-blue: #8e8efa;
$light-green: #6aff6a;
$light-yellow: #ffff89;
$light-pink: #ff89ff;

$pang: #00FFFF;
$red: #ff1313;
$blue: #5151e8;
$green: #00c400;
$yellow: #ffff13;
$pink: #ff1389;