@import 'colors';
@import 'templates';

$top_bar_logo: '/media/images/logo.png';
$border-radius: 10px;

// $background_site_color: #f5f6fa;
// $background_elements_color: white;
// $third_color: #B6906C;

// $background_site_color: #E3DFDC;
// $background_elements_color: #F5F5F7;
// $third_color: #B6906C;

$background_site_color: #f5f6fa;
$background_elements_color: #ffffff;
//$third_color: #85a5c7;
$third_color: #f5f6fa;

h1, h2, h3, h4, h5, h6 {
    //font-family: e-UkraineHead-Bold, Helvetica, Arial, sans-serif;
    font-family: Roboto, sans-serif;
}

span, p, button {
    display: block;
    //font-family: e-Ukraine-Light, Helvetica, Arial, sans-serif;
    font-family: Roboto, sans-serif;
    font-size: 14px;   
    line-height: 18px; 
    font-weight: 400; 
}

img {
    border-radius: $border-radius;
}

html, body { 
    margin: 0; 
    background-color: $background_site_color;
    //background-color: $light-gray;
}

a {
    display: block;
    color: $black;
    text-decoration: none;
    &:hover {
        color: $black;
    }
    
    &.is_visited:visited {
        color: #696969;
    }

    a.link_block  {
        &:hover, &:visited, &:link, &:active {
            text-decoration: none;
        }
    }
}


.top_bar {    
    margin: 25px 0 5px 0;   
    
    border-radius: $border-radius;
    //background-color: $background_elements_color;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px 20px;

    &__name {
        color: $black;
        width: 100%;
        letter-spacing: 1px;
        padding-left: 20px;
        
        h4 {
            margin: 0;
            width: 50%;
        }
    }

    &__background_img {
        height: 100px;
        width: 100px;
        
        background-image: url($top_bar_logo);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }

}

.nav {        
    margin: 10px 0 50px 0;
    padding: 5px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;
    width: 100%;  
    background-color: $background_elements_color;
    border-radius: $border-radius;

    &__item {
        position: relative;

        &__is_open {
            display: none;
        }
        &__is_open:checked ~ &__menu {
            visibility: visible;
            opacity: 1;  
            display: block;                
        }
        &__is_open:checked ~ &__title span::after {
            display: block;                 
        }

        &__title {
            padding: 12px 15px;
            transition: background-color .2s linear;
            cursor: pointer;
            background-color: $background_elements_color;
            border: 0;
            outline: none;
            font-weight: 700;
            border-radius: $border-radius;

            span {
                position: relative;
                font-weight: inherit;

                &::after {
                    content: '';
                    
                    width: 100%;
                    height: 1px;
            
                    background-color: $black;                    
            
                    position: absolute;
                    bottom: -1px;
                    left: 0; 
                    display: none;            
                }
            }

            &:hover span::after {
                display: block;            
            }
        }

        &__menu {
            z-index: 1;
            position: absolute;
            visibility: hidden;
            opacity: 0;
            display: none;
            width: 200px; 

            &__childs {                    
                border-radius: $border-radius;  
                background-color: $background_elements_color;  
                padding: 10px; 

                display: flex;
                flex-direction: column;
                flex-wrap: wrap; 
                justify-content: center; 

                box-shadow: $shadow;

                &__child {        

                    &__head {
                        font-weight: 600;
                        padding: 7px 10px;   
                        border-radius: $border-radius;
                        background-color: $background_elements_color; 
                        position: relative;

                        span {
                            font-weight: inherit;
                            transform: translateX(0);
                            transition: transform .3s cubic-bezier(.165,.84,.44,1);
                        }

                        &::before {
                            content: '';
                            
                            position: absolute;
                            top: 50%;
                            left: 5px;
                            margin-top: -10px;
                            
                            height: 20px;
                            width: 20px;
                            border-radius: $border-radius;
                            background-color: #dbecfc;
                            display: block;  
                            opacity: 0;   
                            transition:  opacity .5s ease-out;                       
                        }

                        &:hover::before {                              
                            opacity: 1;                          
                        }
    
                        &:hover span {
                            transform: translateX(5px);
                        }
                    }
    
                    &__url {
                        padding: 0 0 0 30px;
    
                    
                        &:hover {
                            text-decoration: underline;
                        }
                    }    
                } 
            }

            &.__reverse {
                right: 0;
            }

        }

        
          
    }
}




.input {
    &__text {
        border-width: 0px 0px 1px 0px;
        border-style: solid;
        border-color: transparent;
        background-color: $background_elements_color;
        height: 30px;
        padding: .375rem .75rem;
        outline: none !important;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; 
    }
}

.article {
    margin: 50px 0; 
    padding: 27px 30px;
    border-radius: $border-radius;  
    background-color: $background_elements_color;

    &__title {
        margin: 0;
    }
    &__about {
        display: flex;
        flex-direction: row;
        font-style: italic;
        padding: 8px 0 20px 0;

        &__item {
            margin: 0 5px 5px 0;
            padding: 4px 10px;
            border-radius: $border-radius;
            background-color: #dbecfc;
            box-shadow: $shadow-sm;
            letter-spacing: 1px;
            font-size: 12px;
        }
    }
    
}

.category { 
          

    &__article {
        position: relative;
        margin-bottom: 10px;
        padding: 27px 30px;
        border-radius: $border-radius;  
        background-color: $background_elements_color;

        &__title {
            margin: 0;          
        }
        &__about {
            display: flex;
            flex-direction: row;
            font-style: italic;
            flex-wrap: wrap;
            padding: 8px 0 15px 0;

            &__item {
                margin: 0 5px 5px 0;
                padding: 4px 10px;
                border-radius: $border-radius;
                background-color: #dbecfc;
                box-shadow: $shadow-sm;
                letter-spacing: 1px;
                font-size: 12px;
            }
        }

        &__preview {
            display: flex;
            flex-direction: row;

            &.__def & {
                &__img {
                    display: flex;
                    flex-direction: column;
                    margin-right: 20px;
                    
                    img {
                        max-width: 400px;
                        max-height: 200px;
                    }
                }
                &__text {
                    display: flex;
                    flex-direction: column;   
                    
                    span {
                        border-radius: $border-radius;
                        padding: 15px;
                        background-color: $third_color;
                        //color: $white;
                        color: $black;
                        letter-spacing: 1px;
                        box-shadow: $shadow-sm;
                    }
                }
            }


            &.__small & {  
                &__img {
                    float: left;
                    margin: 0 20px 5px 0;
                    
                    max-width: 120px;
                    max-height: 200px;
                }

                &__text {
                    color: #333;                 
                }
            }
            
        }

        &:hover & {
            &__title {
                text-decoration: underline;
            }
            
        }

    }   
}


.__small {
    display: none;
    visibility: hidden;
    opacity: 0;
}

@media screen and (max-width: 1199px) { 
    .top_bar {    
        &__name {
            h4 {
                width: 60%;
            }            
        }
    }
}

@media screen and (max-width: 991px) { 
    .top_bar {    
        &__name {
            h4 {
                width: 100%;
            }            
        }
    }
}

@media screen and (max-width: 767px) { 

    .__def {
        display: none;
        visibility: hidden;
        opacity: 0;
    }

    .__small {
        display: block;
        visibility: visible;
        opacity: 1;
    }

    .article {
 
        &__content {
            img {
                height: auto;
                width: 100%;
                margin: 20px;
            }
        }
        
    }
}



@media screen and (max-width: 576px) { 
      
}

