html, body {
  margin: 0;
  background-color: #f5f5f5;
}

a {
  display: block;
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #000000;
}

a.is_visited:visited {
  color: #696969;
}

.top_bar {
  margin: 25px 0 5px 0;
  border-radius: 10px;
  background-color: #ffffff;
}

.top_bar__background_img {
  height: 240px;
  padding: 25px 30px;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.2))), url(/media/images/1_h2GgiQV.jpg);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url(/media/images/1_h2GgiQV.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.top_bar__background_img__name {
  color: #ffffff;
  width: 50%;
}

.top_bar__nav {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top_bar__nav__item {
  position: relative;
}

.top_bar__nav__item__url {
  padding: 12px 15px;
  -webkit-transition: background-color .2s linear;
  transition: background-color .2s linear;
}

.top_bar__nav__item__menu {
  z-index: 1;
  position: absolute;
  left: 0;
  visibility: hidden;
  opacity: 0;
  width: 200px;
}

.top_bar__nav__item__menu__childs {
  margin-top: 5px;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.top_bar__nav__item__menu__childs__child {
  padding: 5px 10px;
}

.top_bar__nav__item__menu__childs__child__head {
  background-color: #ffffff;
}

.top_bar__nav__item__menu__childs__child__head:hover {
  text-decoration: underline;
}

.top_bar__nav__item__menu__childs__child__url {
  padding: 2px 0 0 5px;
}

.top_bar__nav__item__menu__childs__child__url::before {
  content: '* ';
}

.top_bar__nav__item__menu__childs__child__url:hover {
  text-decoration: underline;
}

.top_bar__nav__item:hover .top_bar__nav {
  background-color: #f5f5f5;
}

.top_bar__nav__item:hover .top_bar__nav__item__url::after {
  content: "";
  display: block;
  width: 90%;
  height: 2px;
  background-color: #000000;
  position: absolute;
  bottom: 7px;
  left: 5%;
}

.top_bar__nav__item:hover > .top_bar__nav__item__menu {
  visibility: visible;
  opacity: 1;
}

.input__text {
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: transparent;
  background-color: #ffffff;
  height: 30px;
  padding: .375rem .75rem;
  outline: none !important;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.article {
  margin: 50px 0;
  padding: 27px 30px;
  border-radius: 10px;
  background-color: #ffffff;
}

.article__title {
  margin: 0;
}

.article__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-style: italic;
  padding: 8px 0 20px 0;
}

.article__about__item {
  margin-right: 5px;
}

.category {
  margin: 50px 0;
}

.category__article {
  margin-bottom: 10px;
  padding: 27px 30px;
  border-radius: 10px;
  background-color: #ffffff;
}

.category__article__title {
  margin: 0;
}

.category__article__title a:hover {
  text-decoration: underline;
}

.category__article__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-style: italic;
  padding: 8px 0 20px 0;
}

.category__article__about__item {
  margin-right: 5px;
}

.category__article__preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.category__article__preview__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 20px;
}

.category__article__preview__img img {
  max-width: 400px;
  max-height: 200px;
  border-radius: 10px;
}

.category__article__preview__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.category__article__preview__text span {
  border-radius: 10px;
  padding: 18px;
  background-color: #f2f2f2;
}
/*# sourceMappingURL=style.css.map */