@import '../../../../static/interface/css/colors';

.news {
    margin: 50px 0;      

    &__item {

        margin-bottom: 10px;
        padding: 30px;
        border-radius: 10px;  
        background-color: $white;

        &__title {
            margin: 0;
        }
        &__about {
            display: flex;
            flex-direction: row;

            &__item {
                margin-right: 5px;
            }
        }
        &__preview {
            display: flex;
            flex-direction: row;
            &__img {
                display: flex;
                flex-direction: column;
                margin-right: 30px;
                
                img {
                    max-width: 400px;
                    max-height: 200px;
                }
            }
            &__text {
                display: flex;
                flex-direction: column;            
            }
        }
    }

    
}