@import '../../../../static/interface/css/colors';

.news {
    margin: 50px 0;
    padding: 0 25px;

    &__item {

        padding: 30px 0 20px 0;
        position: relative;

        &__title {

        }
        &__about {
            display: flex;
            flex-direction: row;

            &__item {
                margin-right: 5px;
            }
        }
        &__preview {
            display: flex;
            flex-direction: row;
            &__img {
                display: flex;
                flex-direction: column;
                
                img {
                    max-width: 400px;
                    max-height: 200px;
                }
            }
            &__text {
                display: flex;
                flex-direction: column;
                margin: 0 30px;                
            }
        }
    }

    &__item::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;

        background-color: $gray;

        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1;

    }
}