{% extends "index.html" %}
{% block title %}ВСП "Рівненський технічний фаховий коледж НУВГП"{% endblock %}
{% load static %}

{% block css_files %} 

<link rel="stylesheet" href="{% static 'articles/css/style.css' %}">
{% endblock %}

{% block js_files %}
{% endblock %}

{% block content %}

<div class="article">
    <h1 class="article__title">
        {{article.title}}
    </h1>
    <div class="article__about">
        <span class="article__about__item">
            {{article.create_datetime|date:"d.m.Y H:i:s"}} | 
        </span>
        <span class="article__about__item">
            Автор: {{article.update_author}}
        </span>
    </div>

    <hr/>

    <div class="article__content">
        {{article.content|safe}}
    </div>
</div>


{% endblock %}