<div class="top_bar__nav">

    {% for item in navigation %}
    <div class="top_bar__nav__item">
        
        <input type="radio" name="nav" class="top_bar__nav__item__is_open" >
        {% if not item.children %}
        <a href="{{item.url}}" class="top_bar__nav__item__title">
            <span>
                {{item.name}}
            </span>
        </a>
        {% else %}        
        <button class="top_bar__nav__item__title">
            {{item.name}}
        </button>
        {% endif %}

        {% if item.children %}                
        <div class="top_bar__nav__item__menu">
            <div class="top_bar__nav__item__menu__childs">
                
                {% for head in item.children %}
                <div class="top_bar__nav__item__menu__childs__child">
                    <a href="{{head.url}}" class="top_bar__nav__item__menu__childs__child__head">
                        <span>
                            {{head.name}}
                        </span>
                    </a>

                    {% for url in head.children %}
                    <a href="{{url.url}}" class="top_bar__nav__item__menu__childs__child__url">
                        <span>
                            {{url.name}}
                        </span>
                    </a>
                    {% endfor %}                    
                </div>                                
                {% endfor %}

            </div>                    
        </div>   
        {% endif %}

    </div>
    {% endfor %}

</div>